.home-section {
  background-color: #fff;
  padding: 110px 0;
  animation: intro .3s both;
  animation-delay: .15s;
}

.home-section {
  padding: 30px 0;
}

.home-section:first-of-type {
  padding-top: 50px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

#profile {
  text-align: center;
  padding: 30px 10px;
  position: relative;
}

.portrait {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 50%;
  object-fit: cover;
}

.portrait-title h2 {
  font-size: 1.75em;
  font-weight: 300;
  color: #000;
  margin: 20px 0 10px;
}

.portrait-title h3 {
  font-size: 1rem;
  font-weight: 300;
  color: rgba(0,0,0,.54);
  margin: 0 0 10px;
}

#profile .network-icon {
  margin-top: 30px;
}

ul.network-icon {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.big-icon {
  font-size: 2rem;
}

.big-icon:hover {
  font-size: 2.5rem;
}

.network-icon li {
  margin-right: 20px;
}

.network-icon li:last-of-type {
  margin-right: 0;
}

@media (min-width: 992px) {
  .col-lg-4 {
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
  }
}
