body {
  font-family: inherit;
  font-size: 1rem;
  line-height: inherit;
  color: inherit;
  background-color: #fff;
  margin-top: 70px;
  padding-top: 0;
  counter-reset: captions;

  color: #212529;
  text-align: left;
}

a {
  background-color: transparent;
}

a:hover {
  text-decoration: underline;
}

a, h3.article-title a:hover {
    color: #3f51b5;
    text-decoration: none;
    transition: color .6s ease;
}

article, aside, figcaption, figure, footer, header, hgroup, main, section {
    display: block;
}

button, input {
    overflow: visible;
}

img, video {
    height: auto;
    max-width: 100%;
    display: block;
}

img {
    vertical-align: middle;
    border-style: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat,sans-serif';
    font-weight: 400;
    margin-top: 1rem;
    margin-bottom: .5rem;
    line-height: 1.25;
    color: #313131;
    text-rendering: optimizeLegibility;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -webkit-hyphens: manual;
    -ms-hyphens: manual;
    hyphens: manual;
}

/* Container */
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
